html, body {
  height: 100%;
}

body{
  background-color:#f3f3f3;
  font-size:16pt;
}


.tab-body{
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,.1);
    background-color:#fff;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px 14px 10px 14px;
}

.row-table{
  padding-top: 7pt;
    padding-bottom: 7pt;
  border-style:solid;
  border-color:#f3f3f3;
  border-width:1px;

}